body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f5f7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.MuiTypography-root {
    font-family: "PT Sans", sans-serif !important;
}

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #01386b;
    color: white;
    z-index: 999;
}

.logo {
    height: 50px;
    width: 200px;
    padding-left: 50px;
}

.scorecardContainer {
    box-shadow: 0px 0px 2px 0px #01386b !important;
    -webkit-box-shadow: 0px 0px 2px 0px #01386b !important;
    -moz-box-shadow: 0px 0px 2px 0px #01386b !important;
    cursor: pointer;
    text-decoration: none !important;
    border: 0.1px solid #01386b;
    height: 100%;
}

.scorecardContainer .MuiCardContent-root {
    padding: 0 10px;
}

.scorecardContainer .MuiCardContent-root:last-child {
    padding-bottom: 5px;
}

.MuiAccordion-root {
    border: 1px solid #ccc;
}

.MuiAccordionDetails-root {
    border-top: 1px solid #ccc;
    padding-left: 50px !important;
}

.indicator {
    width: 20px;
    height: 24px;
    border-radius: 0 50% 50% 0;
    z-index: 100;
    margin-right: 20px;
}
